@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.root{
    --branco:white;
    --cor-de-fundo:rgb(19, 84, 122);
    --fundo-senha:rgb(187, 80, 30);
    --fundo-texto:rgb(3, 3, 49);
    --borda:rgb(95, 87, 87);
    --fonte:'Roboto', sans-serif;
}
*{
    font-weight: 400;
}
body{
    color: var(--branco);
    background-color:var(--cor-de-fundo);
    font-family: var(--fonte);
}

.titulo-principal{

    font-family:var(--fonte);
    font-size: 320px

}
.titulo-secundario{
    text-align: center;
    margin-top: 80px;

}
