@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --branco: white;
    --cor-de-fundo: #3572EF;
    --cor-de-senha: #910A67;
    --fundo-texto: #3C0753;
    --borda: #720455;
    --fonte: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
    padding: 20px;
}

h2, h3, h4 {
    color: var(--branco);
}

.titulo_principal {
    font-size: 32px;
    margin-bottom: 10px;
}

.titulo_secundario {
    font-size: 24px;
    margin-top: 10px;
}

.conteudo_titulo {
    text-align: center;
    margin-top: 80px;
}

.cadeado_conteudo {
    width: 100px;
    margin-bottom: 20px;
}

.conteudo_senha {
    margin-top: 40px;
    background-color: var(--cor-de-senha);
    padding: 24px;
    border-radius: 8px;
    border-bottom: 6px dotted var(--borda);
    text-align: center;
}

#campo_senha {
    background-color: var(--fundo-texto);
    border: none;
    color: var(--branco);
    font-size: 40px;
    width: 70%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
}

#campo_senha:focus {
    outline: none;
}

.parametro {
    background-color: var(--fundo-texto);
    border: 2px dashed var(--borda);
    margin-top: 32px;
    padding: 24px;
    border-radius: 8px;
}

.parametro_titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.parametro_coluna_senha {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.parametro_senha {
    background-color: var(--cor-de-fundo);
    padding: 16px;
    border-radius: 8px;
}

.parametro_senha_titulo {
    font-size: 20px;
    margin-bottom: 10px;
}

.parametro_senha_botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parametro-senha_botao {
    background-color: var(--borda);
    border: none;
    color: var(--branco);
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

.parametro_senha_checkbox {
    margin-top: 10px;
}

.checkbox {
    margin-right: 10px;
}

.barra {
    width: 100%;
    height: 5px;
    background-color: #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

.forca {
    height: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.forte {
    width: 100%;
    background-color: #28a745;
}

.parametro-senha-textos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
